#top h1 {
    color: #081A23;
    align-items: flex-start;
}

#top h1 a:hover, a:visited {
    text-decoration: none;
}

#top a {
    color: #081A23
}

#top nav a:hover {
    color: #4b96db;
    font-weight: bold;
    text-decoration: none;
}

#top nav {
    display: flex;
    justify-content: flex-end;
}

header {
    padding: 0px;
    width: 100%;
}

header .row {
    display: flex;
    align-items: center;
}

header h1 {
    font-weight: 700;
}

header nav {
    display: flex;
    justify-content: flex-end;
}

header a {
    padding: 20px;
    margin: 0;
}

.jumbotron {
    font-family: "Roboto";
    text-shadow: 0.25px 0.25px 0.25px #000000;
    display: flex;
    position: relative;
    height: 530px;
    width: 100%;
    overflow: hidden;
}

.jumbotron h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 130px;
    color: #fff;
}

.jumbotron h3 {
    font-weight: 700;
    margin: 20px 0 20px;
    color: #fff;
}

#index {
    background: #000 url("../img/mouse.jpg") center center;
    background-size: cover;
}

#about {
    background: #000 url("../img/car.jpg") center center;
    background-size: cover;
}

#projects {
    background: #000 url("../img/code.jpg") center center;
    background-size: cover;
}

.pull-left p {
    margin-top: 20px;
}
