.container-fluid {
    background: transparent;
}

#name, #links a {
    font-family: "Roboto";
    color: #fff;
}

#name {
    font-weight: bold;
    font-size: 24px;
}

#links a:hover {
    color: #808080;
}

.jumbotron {
    font-family: "Roboto";
    text-shadow: 0.25px 0.25px 0.25px #000000;
    display: flex;
    position: relative;
    height: 550px;
    width: 100%;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 0px;
}

.jumbotron h2 {
    font-size: 40px;
    font-weight: 700;
    margin-top: 130px;
    color: #fff;
}

.jumbotron h3 {
    font-weight: 700;
    margin: 20px 0 20px;
    color: #fff;
}

footer {
    margin-top: 0px;
}

#index {
    background: #000 url("../img/mouse.jpg") center center;
    background-size: cover;
}

#about {
    background: #000 url("../img/car.jpg") center center;
    background-size: cover;
}

#projects {
    background: #000 url("../img/code.jpg") center center;
    background-size: cover;
}

.pull-left p {
    margin-top: 20px;
}
